<div class="task__new form">  
    <div class="form__row">
        <label class="form__label">Tytuł zadania: </label>
        <input class="form__input" type="text" name="title">
    </div>
    <div class="form__row form__row--radio">
        <label class="form__label">Status zadania: </label>
        <input type="radio" name="status" value="0" id="emoticon-sad" checked> <label for="emoticon-sad"><i style="color:red;" class="mdi mdi-emoticon-sad"></i></label>
        <input type="radio" name="status" value="1" id="emoticon-cool"> <label for="emoticon-cool"><i style="color:green;" class="mdi mdi-emoticon-cool"></i></label>
        <input type="radio" name="status" value="2" id="emoticon-neutral"> <label for="emoticon-neutral"><i style="color:#f0cf02;" class="mdi mdi-emoticon-neutral"></i></label>
        <input type="radio" name="status" value="3" id="emoticon-poop"><label for="emoticon-poop"><i style="color:brown;" class="mdi mdi-emoticon-poop"></i></label>
    </div>
    <div class="form__row">
        <label class="form__label">Wybierz grupę: </label>
        <select class="form__input" name="group">
            <option value="Bugs">Bugs</option>
            <option value="Website">Website</option>
            <option value="Server">Server</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <input id="submitDataCallback" class="button button--succes" type="button" value="Dodaj zadanie!" data-callback="ok">
</div>