<form class=" user__edit form" onsubmit="return false;">
        
        <div class="form__row">
            <label class="form__label">Tytuł: </label>
            <input class="form__input" type="text" name="title">
        </div>
        <div class="form__row">
            <label class="form__label">Opis: </label>
            <input class="form__input" type="text" name="description">
        </div>

        <label class="form__label">Data:</label><input class="form__input " type="datetime-local" name="date">
          
        <div class="form__row form__row--file">
            <label class="form__label">Dodaj zdjęcie: </label>
           <a href="javascript;;"><input class="form__input" type="file" onchange="imageHanderOnChange(this, this.nextSibling);" accept="image/*"><input type="hidden" name="imageBase64" value="11"></a> 
        </div>
        <div style="margin-top: 10px;  position: relative; z-index: 2222222222;">
                <button class="button button--succes" data-callback="ok" type="button">OK</button> <button class="button button--failure" data-callback="cancel" type="button">Anuluj</button>
                
        
        </div>       
</form>