<div class="modal">
    <div class="modal__window">
        <div class="modal__icon">
                <i class="mdi mdi-pencil"></i>
        </div> 
        <div class="modal__header">
            <div class="modal__title">
                <%- title %>
            </div>
            <div data-callback="cancel" class="modal__exit">
                x
            </div>
        </div>
        <div class="modal__content">
            <%- content %>
        </div>
    </div>
</div>
<div class="modal__overlay"></div>