<% for (var key in data) { %>
    <% if (data.hasOwnProperty(key)) { %>
        <% var timeNote = data[key] %>

    <div><%= timeNote['Title']  %></div>
    <div><%= timeNote.Description %></div>
    <div><%= timeNote['Date'] %></div>
    <div><img src="templates/timelineImages/<%= timeNote.Image %>" alt=""></div>

    <% } %>
<% } %>