<div class="row">
    <div class="col-md-12">
        <section>

            <% for (var key in data) { %>
                <% if (data.hasOwnProperty(key)) { %>
                    <% var timeNote = data[key] %>
                    <div class="timeline">
                        <article class="timeline__note">
                            <div class="timeline__title"><%= timeNote['Title']  %></div>
                            <div><%= timeNote.Description %></div>
                            <div class="timeline__Date"><%= timeNote['Date'] %></div>
                            <div class="timeline__image"><img src="templates/timelineImages/<%= timeNote.Image %>" alt=""></div>
                        </article>
                    </div>
                <% } %>
            <% } %>
        </section>
    </div>
</div>