<script src="templates/js/main.js"></script>
<script src="templates/js/addicionalFunction.js"></script>
<script src="templates/js/overtime.js"></script>

<div class="overtime__newContainer tile tile__bg">
    <div class="task__icon"><i style="font-size:22px; " class="mdi mdi-clock"></i></div>
    <div class="task__tileTitle">Dodaj nową informację o nadgodzinach!</div>
</div>
<div class="overtime__newContainer tile tile__bg">
    
    <form onsubmit="addOvertime(); return false;" style="padding-top:10px;">

        <div style="display: flex;">
            <label class="horizontalLabel"for="description">Opis
            <textarea class="form__input " id="description" required rows="2"></textarea>
            </label>
            <label class="horizontalLabel"for="client">Klient:
                
            <input class="form__input " type="text" id="client">
            </label>
            <label class="horizontalLabel"for="day">Dzień:
                    <input required class="form__input" type="date" id="day"></label>
            <label class="horizontalLabel">
                <span>Godzina od:</span>
                <div class="timeField">


                        <input required class="form__input timeField__input" type="number" min="0" max="23" step="1" id="hourFrom" placeholder="hh"> : 
                        <input required class="form__input timeField__input" type="number" min="0" max="59" step="1" id="minutesFrom" placeholder="mm">
                </div>
            </label>
            <label class="horizontalLabel">
                <span>Godzina do:</span>
                <div class="timeField">
                <input required class="form__input timeField__input" type="number" min="0" max="23" step="1" id="hourTo" placeholder="hh"> : 
                <input required class="form__input timeField__input" type="number" min="0" max="59" step="1" id="minutesTo" placeholder="mm">
            </div>
            </label>

            <label class="horizontalLabel"for="overtimeCount">Ilość nadgodzin:

                    <big><big>10:30</big></big>
            </label>

            <input class="overtime__submit" type="submit" value="+">
        </div>

    </form>
</div>

<div class="overtime">
    GODZINSZE
</div>