<script src="templates/js/main.js"></script>
<script src="templates/js/addicionalFunction.js"></script>
<script src="templates/js/start.js"></script>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="tile tile--statistic">
    	    <div class="tile__icon">
                <div class="tile__iconCirlce">
                    <i class="mdi mdi-format-list-checks"></i>
                </div>
            </div>
            <div class="tile__content">
                <div class="tile__title">Zadania</div>
                <div class="tile__value">
                    <span id="taskDoneTile"></span>
                    <span class="tile__value tile__value--undone">(do zrobienia:  <span id="taskUndoneTile"></span> )</span> 
                </div>
                <div class="tile__link"><a href="index.php?page=tasks">Zobacz wszystkie</a></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div id="tileTasks" class="task--tile"></div>
    </div>
    <div class="col-xs-12 col-md-4 tile tile--add">
        <div class="task__Header">
                Dodaj zadanie!
            </div>
        <div id="tileAddNewTask"></div>
    </div>
</div>