<script src="templates/js/start.js"></script>
<div class="row">
    <div class="col-xs-6">
        <div class="tile tile--statistic">
    	    <div class="tile__icon">
                <div class="tile__iconCirlce">
                    <i class="mdi mdi-chart-bar"></i>
                </div>
            </div>
            <div class="tile__content">
                <div class="tile__title">Zadania</div>
                <div class="tile__value">
                    <span id="taskDoneTile">100</span>
                    <span class="tile__value tile__value--undone">(do zrobienia:  <span id="taskUndoneTile">15</span> )</span> 
                </div>
                <div class="tile__link"><a href="index.php?page=tasks">Zobacz wszystkie</a></div>
            </div>
        </div>
    </div>
</div>



<h1>helloo majap!</h1>