<script src="templates/js/main.js"></script>
<script src="templates/js/nodep-date-input-polyfill.dist.js"></script>
<script src="templates/js/addicionalFunction.js"></script>

<div class="task__newContainer tile tile__bg">
    <div class="task__icon"><i style="font-size:22px; " class="mdi mdi-alarm-light"></i></div>
    <div class="task__tileTitle">Dodaj nowe zadanie!</div>
    <div class="task__buttonContainer">
        <button id="newTaskAction" onclick="showNewTask();" class="button button--succes button--newTask" data-callback="ok" type="button">Dodaj!</button>
    </div>
</div>

<div class="task__filter filter">
    <div style="display:flex;">
        <div class=" filter__searcher" style="width:calc(100% - 75px); margin-right:15px;">
            <input class="task__input " type="text" name="searcher" placeholder="Szukaj" title="" id="taskSearcher">
            <span class="filter__magnify"><i onclick="reloadTasks()"  class="mdi mdi-magnify"></i></span>
        </div>
        <div class="" style="text-align:right; width:70px;">
            <div class="filter__icon" onclick="filterSlide()"><i class="mdi mdi-filter"></i></div>
        </div>
    </div>

    <div id="filterTasks" class="filter__inputs" >
     <div class="row">
        <div class="col-xs-6 col-md-2"><label for="filterDateFrom" class="form__label">Data od:</label><input class="form__input task__dataFilter" onchange="reloadTasks()" type="date" name="filterDateFrom" id="filterDateFrom"></div>
        <div class="col-xs-6 col-md-2 "><label class="form__label" for="filterDateTo">Data do:</label><input class="form__input task__dataFilter" onchange="reloadTasks()" type="date" name="filterDateTo" id="filterDateTo"></div>
        <div class="col-xs-6 col-md-2"><label class="form__label" for="filterGroup">Wybierz grupę:</label>
            <select name="filterGroup"  class="form__input task__dataFilter"  id="filterGroup" onchange="reloadTasks()">
                <option value="">Nie wybrano</option>
                <option value="Website">Website</option>
                <option value="Server">Server</option>
                <option value="Bugs">Bugs</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="col-xs-6 col-md-2"><label class="form__label" for="filterStatus">Status:</label>
            <select  class="form__input task__dataFilter" name="filterStatus" id="filterStatus"  onchange="reloadTasks()">
                    <option value="">Nie wybrano</option>
                    <option value="0">Do zrobienia</option>
                    <option value="1">Zrobione</option>
                    <option value="2">W trakcie..</option>
                    <option value="3">Śmieci</option>
                </select>
        </div>
        <div class="col-xs-12 col-md-4 filter__clean"><span onclick="clearFilterData()" class="button button--failure"> <i class="mdi mdi-filter-remove"></i>  Wyczyść filtrowanie</span></div>
    </div> 
    </div>
</div>
<div id="tasksList"> </div>
