<script src="templates/js/main.js"></script>
<script src="templates/js/addicionalFunction.js"></script>

<div class="task__newContainer tile tile__bg">
        <div class="task__icon"><i style="font-size:22px; " class="mdi mdi-plus"></i></div>
        <div class="task__tileTitle">Dodaj nową notkę do timeline!</div>
        <div class="task__buttonContainer">
            <button id="newTaskAction" onclick="addNewTimelineNote();" class="button button--succes button--newTask" data-callback="ok" type="button">Dodaj!</button>
        </div>
    </div>
<div class="timeline timeline--bg"></div>