body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #edf1f5;
    font-family: 'Muli', sans-serif;
}

.task{
    background: #fff;
    padding: 20px;

    &__container{
        width: 100%;
    }

    &__element td {
        border: 7px solid #fff;
    }

    &__Header{
        color: #fff;
        padding: 10px 30px;
        font-size: 18px;
    }

    &__headers{
        background-color: darkblue;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    &__status{
        padding: 0px 20px;
        &--done{
            color: green;
        }
        &--undone{
            color: red;
        }
    }
}

