<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="templates/css/index.css">
    <script src="templates/js/ejs.min.js"></script>
    <script src="templates/js/ajax.js"></script>
    <script src="templates/js/main.js"></script>

    <noscript id="taskTemplate">
       <?php include 'templates/ejs/taskTemplate.ejs' ?>
    </noscript>

    <noscript id="modalTemplate">
        <?php include 'templates/ejs/modalTemplate.ejs' ?>
    </noscript>

    <noscript id="modalConfirm">
        <?php include 'templates/ejs/modalConfirm.ejs' ?>
    </noscript>

    <noscript id="modalAlert">
        <?php include 'templates/ejs/modalAlert.ejs' ?>
    </noscript>

    <noscript id="addNewTask">
        <?php include 'templates/ejs/addNewTask.ejs' ?>
    </noscript>

    <noscript id="editTaskTemplate">
        <?php include 'templates/ejs/editTaskTemplate.ejs' ?>
    </noscript>


</head>
<body>
    <header>
     <h1>hello majap!</h1>
    </header>
    
    <div id="tasksList"> </div>
    
    <div class="task__newContainer">
            <button id="newTaskAction" onclick="showNewTask();" class="button button--succes button--newTask" data-callback="ok" type="button">Dodaj nowe zadanie!</button>
    </div>
   
    
</body>
</html>