<script src="templates/js/addicionalFunction.js"></script>
<link rel="stylesheet" href="templates/css/userAccess.css">

<div class="account">
    <div class="account__content">
        <div class="account__title">Zaloguj się!</div>
        <div class="account__description">
            Masz już konto? <br> Wprowadź swoje dane aby się zalogować.
        </div>
        <form class="form" method="post" onsubmit="accountLogin(convertFormToPostData(this)); return false;">
            <div class="form__row">
                <label for="email" class="form__label">Email: </label>
                <input class="form__input account__input" id="email" type="email" name="email">
            </div>
            <div class="form__row">
                <label for="password" class="form__label">Hasło: </label>
                <input class="form__input account__input" id="password" type="password" name="password">
            </div>
            <div class="form__row">
            <button class="button button--succes account__button">Zaloguj się</button>
            </div>
        </form>

        <div>Albo <a href="index.php?page=register">Zarejestruj się</a></div>
    </div>
</div>
<div class="account__overlay"></div>